.contenedor-main {
    .contenedor-promociones {
        .titulo-promocion {
            text-align: center;
            padding: 1rem;

        }
        .promo-img {
            width: 100vw;
            height: auto;
        }
    }

    .contenedor-ubicacion {
        .titulo-ubicacion {
            text-align: center;
            padding: 1rem;
        }
        .ubicacion {
            margin: 0 1rem;
            height: 35vh;
        }
    }

    .contenedor-menuCategorias {
        text-align: center;
        margin: 1rem 0;
        .categorias {
            display: flex;
            background-color: #262626;
            color: white;
            justify-content: center;
            align-items: center;
            b {
                text-transform: uppercase;
                padding: 1rem;
                font-size: 2rem;
            }
        }

        .card-rubro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(128, 128, 128, 0.411);
            // border-radius: 15px;
            margin: 1.5rem;
            padding-bottom: 1.2rem;
            // -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.11);
            // -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.11);
            // box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.11);
            img {
                width: 100%;
                height: auto;
                // border-radius: 50%;
                padding: 0 0 1rem 0;
            }
            input {
                width: auto;
                border: none;
                background-color: #262626;
                padding: 1rem;
                border-radius: 0.5rem;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1.3rem;
            }
        }
        .card-rubro:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    .contenedor-menu {
        display: none;
        position: fixed;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        overflow-y: auto;
        height: 100vh;

        .cont-categoria {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background-color: #262626;
            color: white;
            text-transform: uppercase;
            button {
                background-color: transparent;
                border: none;
                color: white;
                font-size: 1.2rem;
            }
        }

        .card-menu {
        display: flex;
        margin: 1rem;
        justify-content: center;
            .card-img {
                width: 30%;
                align-items: center;
                .menu-img {
                    width: 100%;
                    border-radius:50%;
                    height: 9rem;
                    padding: 1rem 0;
                }
            }
            .card-info {
                padding: 1rem;
                width: 70%;
                .descripcion {
                    word-wrap: break-word;
                    // overflow-x: hidden;
                }
            }
        }
        .card-info {
            .cont-btn {
                div {
                    display: flex;
                }
            }
        }
    }   
    .contenedor-logo-pedido {
        width: 3.5rem;
        height: 3.5rem;
        background-color: #fc8c03;
        border-radius: 50%;
        padding: 0.5rem;
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
        .logo-pedido {
            color: white;
        }
        #contador {
            display: none;
            position: absolute;
            top: 0;
            background-color: #262626;
            padding: 3px;
            color: white;
            font-weight: bold;
            border-radius: 50%;
        }
    }
    .contenedor-pedido {
        display: none;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .contenedor-pedido {
        .cont-pedido {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background-color: #262626;
            color: white;
            text-transform: uppercase;
        }
        button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 1.2rem;
        }
    }
    .card-pedido {
        img {
            width: 100%;
        }
    }
}