.contenedor-main {
    .contenedor-promociones {
        .titulo-promocion {
            text-align: center;
            padding: 1rem;

        }
        .promo-img {
            width: 100vw;
            height: 40vh;
        }
    }

    .contenedor-ubicacion {
        .titulo-ubicacion {
            text-align: center;
            padding: 1rem;
        }
        .ubicacion {
            margin: 0 1rem;
            height: 35vh;
        }
    }
}